---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ProjectPreview from "../components/ProjectPreview.astro";

const projects = await getCollection("projects");
---

<Layout title="Projects">
  <div
    class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:gap-x-8 xl:grid-cols-3"
  >
    {projects.map((item) => <ProjectPreview project={item.data} />)}
  </div>
</Layout>
