---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

export interface LayoutProps {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evan Wallace Dev</title>
  </head>
  <body class="px-4 pt-16 mx-auto">
    <header id="site-header" class="transition-transform duration-300">
      <Header />
    </header>
    <main>
      <div class="bg-white sm:py-16 dark:bg-gray-900">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <h2
            class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl dark:text-white"
          >
            {title}
          </h2>
          <div
            class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 dark:border-gray-700"
          >
          </div>
          <slot />
        </div>
      </div>
    </main>
  </body>
  <Footer />
</html>
